div{
	background-color: blue; 
	padding:20px; 
	border-radius:30px; 
	font-family: arial;
	border-color: green; 
	border-style:solid;
    border-width:10px;
}

.myheader {
	text-shadow:3px 3px white;
	color: #FF0000;
}

.buffer {
	background-color: green; 
	padding: 5px; 
	border-radius:30px;"
}

img{
	position:relative;
	-webkit-animation: fancy-picture 3s infinite alternate;
}

@-webkit-keyframes fancy-picture 
{
	0%{
		left: 0px;
		margin-left:0px;
	}

	100%{
		left: 100%;
		margin-left:-225px;
	}
}